@model Cauthu

<!-- Single Product Area -->
<div class="col-12 col-sm-6 col-lg-3">
    <div class="single-product-area mb-50 wow fadeInUp" data-wow-delay="100ms">
        <!-- Product Image -->
        <div class="product-img">
            <a href="shop-details.html"> <img src="@Url.Content("~/images/" + Model.Anh)" alt=""></a>
            <!-- Product Tag -->
            <div class="product-tag">
                <a href="#">Hot</a>
            </div>
            <div class="product-meta d-flex">
                <a href="#" class="wishlist-btn"><i class="icon_heart_alt"></i></a>
                <a href="cart.html" class="add-to-cart-btn">Add to cart</a>
                <a href="#" class="compare-btn"><i class="arrow_left-right_alt"></i></a>
            </div>
        </div>
        <!-- Product Info -->
        <div class="product-info mt-15 text-center">
            <a href="shop-details.html">
                <p>@Model.HoVaTen</p>
            </a>
            <h6>@Model.CauLacBo</h6>
        </div>
    </div>
</div>